@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #0c0c0c;
}

.logo {
  width: 370px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  width: 470px;
  cursor: pointer;
  filter: sepia(0%) saturate(291%) hue-rotate(173deg) brightness(91%) contrast(85%);
}

p {
  margin-top: 150px;
  font-size: 25px;
  font-family: Poppins, sans-serif;
  color: #e5e5e5;
  text-align: center;
}

.mika, .mygit {
  border-radius: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
  transition: all 0.3s ease 0s;
}

.mika:hover {
  filter: brightness(115%) saturate(110%)
}

.textgit {
  text-decoration: none;
  color: #e5e5e5;
  transition: all 0.3s ease 0s;
}

.textgit:hover {
  cursor: pointer;
  color: #c72424;
}